[submodule "Rose/3rd/spdlog"]
	path = Rose/3rd/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Rose/3rd/glfw"]
	path = Rose/3rd/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Rose/3rd/glm"]
	path = Rose/3rd/glm
	url = git@github.com:g-truc/glm.git
[submodule "Rose/3rd/freetype"]
	path = Rose/3rd/freetype
	url = git@github.com:freetype/freetype.git
